<div
  class="flex flex-col justify-around gap-8 bg-app-card-color p-10 text-center font-bold"
>
  <h1>Remember to save your current itinerary</h1>
  <button (click)="openSave()">
    <button class="mx-auto h-12 rounded-lg bg-gray-700 px-5 text-white">
      Save
    </button>
  </button>
  <hr class="flex h-px rounded-lg border-0 bg-gray-400" />
  <h1>Discard and...</h1>
  <button
    class="mx-auto h-12 rounded-lg bg-red-700 px-5 text-white"
    (click)="createNewItinerary()"
  >
    Create new itinerary
  </button>
  <button
    (click)="triggerFileInput()"
    class="mx-auto h-12 rounded-lg bg-red-700 px-5 text-white"
  >
    Import from JSON
  </button>
  <input
    type="file"
    id="fileInput"
    (change)="loadFromJSON($event)"
    class="hidden"
    accept=".JSON"
  />
</div>
