<div
  class="flex flex-col justify-center gap-10 px-5 pb-10 pt-12 text-center font-bold"
>
  <h1>Remember to save/export your current itinerary</h1>
  <a (click)="openSave()"
    ><button class="mx-auto h-12 rounded-lg bg-gray-700 px-5 text-white">
      Save / Export
    </button></a
  >
  <hr class="mx-auto my-4 flex h-2 w-1/2 rounded-lg border-0 bg-gray-500" />
  <a routerLink="/create"
    ><button class="mx-auto h-12 rounded-lg bg-red-700 px-5 text-white">
      Discard Itinerary and Create a New One
    </button></a
  >
  <button
    (click)="triggerFileInput()"
    class="mx-auto h-12 rounded-lg bg-red-700 px-5 text-white"
  >
    Discard Itinerary and Import from JSON
  </button>
  <input
    type="file"
    id="fileInput"
    (change)="loadFromJSON($event)"
    class="hidden"
    accept=".JSON"
  />
</div>
