<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav-Bar</title>
</head>
<body>
  <nav class="shadow-lg bg-white flex justify-between mx-auto px-10 py-4 font-bold">
    <div class=" bg-white min-h-fit left-0 w-auto flex items-center ">
      <a routerLink="/create">
        <img class="w-16 pr-10" src="https://content.presentermedia.com/files/clipart/00028000/28698/happy_emoji_face_800_wht.jpg" alt="">
      </a>
      <ul class="flex items-center gap-[4vw]">
        <li><a routerLink="/new_itinerary" class="hover:text-gray-500">New</a></li>
        <li><a routerLink="/save" class="hover:text-gray-500">Save / Export</a></li>
        <li><a routerLink="" class="hover:text-gray-500">Show Map</a></li>
      </ul>
    </div>
    <div class="flex">
      <button class="">Lock</button>
    </div>
  </nav>
</body>
</html>
