

<div class="flex flex-col justify-center text-center gap-6 pt-12 font-bold">
  <a (click)="copyURL(copyLinkHeader)" class="hover:cursor-pointer bg-gray-700 text-white h-12 mx-auto px-5 rounded-lg flex items-center">
    <h1 #copyLinkHeader>Copy Link</h1>
  </a>
  <a (click)="saveURLToJSON()" class="hover:cursor-pointer bg-gray-700 text-white h-12 mx-auto px-5 rounded-lg flex items-center">
    <img src="" alt="">
    <h1>Save to JSON</h1>
  </a>
  <a href="" class="hover:cursor-pointer bg-gray-700 text-white h-12 mx-auto px-5 rounded-lg flex items-center">
    <img src="" alt="">
    <h1>Export to Image</h1>
  </a>
</div>

