app-card:nth-child(3n + 1) ::ng-deep .stripe-color-bg {
  @apply bg-app-stripe-teal;
}

app-card:nth-child(3n + 1) ::ng-deep .stripe-color-ring {
  @apply ring-app-stripe-teal;
}

app-card:nth-child(3n + 2) ::ng-deep .stripe-color-bg {
  @apply bg-app-stripe-purple;
}

app-card:nth-child(3n + 2) ::ng-deep .stripe-color-ring {
  @apply ring-app-stripe-purple;
}

app-card:nth-child(3n + 3) ::ng-deep .stripe-color-bg {
  @apply bg-app-stripe-vanilla;
}

app-card:nth-child(3n + 3) ::ng-deep .stripe-color-ring {
  @apply ring-app-stripe-vanilla;
}
