<div
  #parent
  class="relative flex flex-row gap-4"
  tabindex="0"
  (focusin)="onFocusIn()"
  (focusout)="onFocusOut($event.relatedTarget)"
>
  <div
    class="flex w-full flex-col rounded-3xl text-left shadow-xl"
    [@firstFocusClick]="isLocked ? 'unfocused' : 'focused'"
  >
    <div class="stripe-color-bg h-4 rounded-t-3xl bg-teal-200"></div>
    <div class="flex flex-col gap-3 rounded-b-3xl bg-app-card-color px-5 py-4">
      <textarea
        class="resize-none overflow-hidden text-wrap break-words bg-transparent text-2xl font-semibold"
        name="Event Title"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        [ngModel]="event.title"
        (ngModelChange)="
          updateEvent.emit(event.clone().update({ title: $event }))
        "
        [disabled]="isLocked"
      >
      </textarea>
      @if (event.placeName !== null) {
        <section class="flex items-start space-x-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="inline-block size-7 min-w-fit"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
            />
          </svg>
          <div
            class="relative flex flex-1 flex-col"
            (focusout)="onLocationFieldBlur($event.relatedTarget)"
          >
            <textarea
              class="w-full resize-none overflow-hidden bg-transparent text-lg font-medium"
              name="Event Place Name"
              placeholder="Location"
              cdkTextareaAutosize
              [ngModel]="event.placeName"
              (ngModelChange)="onLocationFieldChange($event)"
              [disabled]="isLocked"
            >
            </textarea>
            <div #suggestions tabindex="-1">
              @if (showPlaceSuggestions) {
                <app-place-suggestions
                  class="absolute top-full z-10 w-full translate-y-px"
                  [places]="placeSuggestions"
                  (suggestionClick)="onSuggestionClick($event)"
                />
              }
            </div>
            <!-- [places]="[
                    {
                      placeId: '1',
                      placeName: 'Lego Land jflakdsjfa lsdjf ',
                    },
                    {
                      placeId: '2',
                      placeName: 'RRizzneyRizzneyRizzneyRizzneyRizzney',
                    },
                    { placeId: '3', placeName: 'Lego Land' },
                    { placeId: '5', placeName: 'Lego Land' },
                    { placeId: '6', placeName: 'Rizzney Land' },
                    { placeId: '7', placeName: 'Lego Land' },
                    { placeId: '8', placeName: 'Rizzney Land' },
                  ]" -->
          </div>
          <a
            href="{{ event.placeRouteUrl }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-7 min-w-fit"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
              />
            </svg>
          </a>
        </section>
      }
      @if (
        event.startTime !== null || event.endTime !== null || explicitShowTime
      ) {
        <section class="flex justify-around font-medium">
          <div class="border-b-2 border-b-gray-300">
            <span>From</span>
            <ngx-timepicker-field
              class="inline-block"
              [format]="12"
              [controlOnly]="true"
              [defaultTime]="event.startTime | timeStr"
              (timeChanged)="onTimeChange({ startTime: $event })"
              [disabled]="isLocked"
            ></ngx-timepicker-field>
          </div>
          <div class="border-b-2 border-b-gray-300">
            <span>To</span>
            <ngx-timepicker-field
              class="inline-block"
              [format]="12"
              [controlOnly]="true"
              [defaultTime]="event.endTime | timeStr"
              (timeChanged)="onTimeChange({ endTime: $event })"
              [disabled]="isLocked"
            ></ngx-timepicker-field>
          </div>
        </section>
      }
      @if (event.imgUrl !== null) {
        <img
          [src]="event.imgUrl"
          class="image-export-ignore w-full rounded object-cover"
          draggable="false"
          alt="Event Image"
        />
      }
      @if (event.notes !== null) {
        <textarea
          class="resize-none overflow-hidden bg-transparent text-lg font-medium"
          name="Event Notes"
          placeholder="Notes"
          cdkTextareaAutosize
          [ngModel]="event.notes"
          (ngModelChange)="
            updateEvent.emit(event.clone().update({ notes: $event }))
          "
          [disabled]="isLocked"
        >
        </textarea>
      }
    </div>
  </div>
  <div
    class="absolute -right-16 flex w-fit flex-col justify-start gap-3 pt-4 lg:-right-56"
    [ngClass]="isLocked ? '-z-10' : 'z-0'"
    tabindex="-1"
    (focus)="onInvisibleSpaceFocus()"
  >
    <app-card-edit-btn
      class="relative"
      [label]="(event.placeName === null ? 'Add' : 'Remove') + ' Location'"
      [addOrRemove]="event.placeName === null ? 'Add' : 'Remove'"
      (click)="onLocationBtnClick()"
      [@slideIn]="{
        value: isLocked ? 'hidden' : 'unhidden',
        params: { delay: '0ms' },
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
        />
      </svg>
    </app-card-edit-btn>
    <app-card-edit-btn
      class="relative w-fit [&.invisible]:hidden"
      [label]="
        (event.startTime !== null || event.endTime !== null || explicitShowTime
          ? 'Remove'
          : 'Add') + ' Time'
      "
      [addOrRemove]="
        event.startTime !== null || event.endTime !== null || explicitShowTime
          ? 'Remove'
          : 'Add'
      "
      (click)="onTimeBtnClick()"
      [@slideIn]="{
        value: isLocked ? 'hidden' : 'unhidden',
        params: { delay: '50ms' },
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </app-card-edit-btn>
    <app-card-edit-btn
      class="relative w-fit [&.invisible]:hidden"
      [label]="(event.imgUrl === null ? 'Add' : 'Remove') + ' Image'"
      [addOrRemove]="event.imgUrl === null ? 'Add' : 'Remove'"
      (click)="onImgBtnClick()"
      [@slideIn]="{
        value: isLocked ? 'hidden' : 'unhidden',
        params: { delay: '100ms' },
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
        />
      </svg>
    </app-card-edit-btn>
    <input
      class="stripe-color-ring rounded-2xl p-3 ring-2 focus:outline-none"
      name="Image URL"
      type="text"
      placeholder="Image URL"
      (keydown.enter)="onImageUrlSubmit($event)"
      (blur)="onImageUrlSubmit($event)"
      [ngClass]="showImgUrlInput ? 'block' : 'hidden'"
    />
    <app-card-edit-btn
      class="relative w-fit [&.invisible]:hidden"
      [label]="(event.notes === null ? 'Add' : 'Remove') + ' Notes'"
      [addOrRemove]="event.notes === null ? 'Add' : 'Remove'"
      (click)="onNotesBtnClick()"
      [@slideIn]="{
        value: isLocked ? 'hidden' : 'unhidden',
        params: { delay: '150ms' },
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
        />
      </svg>
    </app-card-edit-btn>
    <app-card-edit-btn
      class="relative w-fit [&.invisible]:hidden"
      label="Delete Event"
      addOrRemove="Remove"
      (click)="onDeleteBtnClick()"
      [@slideIn]="{
        value: isLocked ? 'hidden' : 'unhidden',
        params: { delay: '150ms' },
      }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
        />
      </svg>
    </app-card-edit-btn>
  </div>
</div>
